.accountability {
	display: flex;
}

.accountability-card-type {
	display: flex;
	width: 5%;
	flex-direction: column;
	padding: 30px;
	align-items: center;
}

.accountability-icon {
	display: flex;
	flex-direction: column;
	padding-bottom: 12px;
}

.accountability-date {
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

.accountability-type {
	width: 95%;
	flex-direction: column;
	padding: 30px;
	align-items: center;
	height: 90px;
}

.accountability-title {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	padding-bottom: 12px;
	color: #d0d3d6;
}

.accountability-text {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 12px;
}
