$white: #ffffff;
$default: #6b7480;
$title: #353a40;
$bgSuccess: #e6fff0;
$success: #03a046;
$titleGray: #d0d3d6;
$primary: #51c1c3;
$statusColorTitle: #053d4e;
$borderBalance: rgba(0, 0, 0, 0.23);
$balanceColor: #545b64;
$valuesColor: #32363b;
$bgStatus: #f0f3f7;
$subDescription: #9ea4ac;
$bgWorkSpace: #f4f6fa;
$bgBreadCrumbs: #f0f3f7;
$bgFile: #fafbfc;
$borderFile: #dfe2e6;
$error: #d6342c;
