$spacingVerySmall: 5px;
$spacingSmall: 12px;
$spacingMedium: 24px;
$spacingLarge: 30px;
$fontTitle: 20px;
$fontTitleTimeline: 12px;
$fontTextTimeline: 20px;
$fontSubTextTimeline: 14px;
$fontDate: 14px;
$widthChip: 79px;
$minHeightCard: 154px;
$timelineHeight: 90px;
$appMinHeight: 700px;
$borderRadius: 6px;
$statusTitle: 16px;
$statusText: 20px;
$fontBalaceTitle: 16px;
$fontBalaceTotal: 20px;
$fontValues: 10px;
$avatar: 26px;
$fontSubTitle: 11px;
$topBarHeight: 48px;
$menuWidth: 48px;
$headerHeight: 226px;
$fontHeaderText: 20px;
$fontCenterCost: 16px;
$fontAssignAnalist: 14px;
$fileHeader: 140px;
