.file {
	display: flex;
	flex-direction: column;
	background-color: #fafbfc;
	height: 140px;
	width: 50%;
	border: solid 1px #dfe2e6;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
}

.file-success {
	display: flex;
	flex-direction: column;
	height: 140px;
	width: 50%;
	border: solid 1px #03a046 !important;
	background-color: #e6fff0 !important;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
}

.title-file {
	color: #353a40;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
}

.description {
	font-size: 11px;
	margin: 12px;
}

.file-button {
	text-transform: none !important;
}
