.evaluation {
	display: flex;
}

.evaluation-card-type {
	display: flex;
	width: 5%;
	flex-direction: column;
	padding: 30px;
	align-items: center;
}

.evaluation-icon {
	display: flex;
	flex-direction: column;
	padding-bottom: 12px;
}

.evaluation-date {
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

.evaluation-type {
	width: 40%;
	flex-direction: column;
	padding: 30px;
	align-items: center;
	height: 90px;
}

.evaluation-status {
	width: 35%;
	flex-direction: column;
	padding: 30px;
	align-items: center;
	height: 90px;
}
.evaluation-title {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	padding-bottom: 12px;
	color: #d0d3d6;
}

.evaluation-text {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 12px;
}

.evaluation-sub-text {
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

.evaluation-document {
	width: 20%;
	flex-direction: column;
	padding: 30px;
}

.evaluation-document-text {
	color: #51c1c3;
	font-size: 14px;
}

.evaluation-document-icon {
	padding-left: 12px;
}

.evaluation-document-link {
	color: #51c1c3 !important;
	text-decoration: none !important;
}

.chip {
	width: 79px;
}
