.solicitation {
	display: flex;
	font-family: 'Nunito Sans', sans-serif;
}

.solicitation #core {
	display: flex;
	flex-direction: column;
	width: 75%;
}

.solicitation #side {
	display: flex;
	flex-direction: column;
	width: 25%;
	background-color: #ffffff;
}

.add-expense {
	margin: 0px 24px 0px 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.add-expense #button {
	color: #6b7480 !important;
	border: 1px solid #6b7480 !important;
	text-transform: none !important;
}

.add-expense #icon {
	color: #6b7480 !important;
	padding-right: 12px;
}
