.text {
	display: flex;
	margin-bottom: 12px;
	font-size: 14px;
}

.text #left {
	display: flex;
	flex-direction: column;
	width: 90px;
	align-items: flex-end;
}

.text #rigth {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	align-items: flex-start;
	padding-left: 30px;
	padding-right: 30px;
}
